<header>
  <div>
    <div class="row header">
      <div class="col-sm-5">
        <div class="logo">
          <img class="img-fluid logo-img" src="assets/images/logo.png" alt="Tranent Skatepark Foundation logo">
        </div>
      </div>
      <div class="col-sm-7 header-landscape">
        <div class="sun">
          <div class="ray_box">
              <div class="ray ray1"></div>
              <div class="ray ray2"></div>
              <div class="ray ray3"></div>
              <div class="ray ray4"></div>
              <div class="ray ray5"></div>
              <div class="ray ray6"></div>
              <div class="ray ray7"></div>
              <div class="ray ray8"></div>
              <div class="ray ray9"></div>
              <div class="ray ray10"></div>
          </div>
      </div>
      <div class="hill">
      </div>
      <div class="tree-1">
        <img class="img-fluid" src="assets/images/tree1.svg" alt="Silhouette of a tree">
      </div>
      <div class="halfpipe">
        <img class="img-fluid" src="assets/images/halfpipe.svg" alt="Silhouette of a Skate Half-pipe">
        <img class="img-fluid derby-girl" src="assets/images/derby-girl.svg" alt="Silhouette of a Derby-Girl roller skater">
        <img class="img-fluid bmx-stunt" src="assets/images/bmx-stunt.svg" alt="Silhouette of a boy doing a stunt on a BMX">
        <img class="img-fluid skateboarder-trick" src="assets/images/skateboarder-trick.svg" alt="Silhouette of a skateboarding trick">
        <img class="img-fluid scooter-trick" src="assets/images/scooter-trick.svg" alt="Silhouette of a scooter trick">
      </div>
      <div class="tree-2">
        <img class="img-fluid" src="assets/images/tree2.svg" alt="Silhouette of a second tree">
      </div>
      </div>
    </div>
    <div class="row nav-row">
      <div class="col menu-wrapper">
        <img class="img-fluid scooter-trick-2 d-sm-none" src="assets/images/scooter-trick-2.svg" alt="Silhouette of a scooter trick">
        <img class="img-fluid skateboarder-trick-2 d-sm-none" src="assets/images/skateboarder-trick-2.svg" alt="Silhouette of a skateboarder trick">
        <nav class="navbar navbar-expand-sm menu-bar">
          <ul class="nav navbar-nav mx-auto">
            <li class="nav-item mx-auto mx-sm-2 mx-md-4 text-center">
              <button class="bttn draw-border my-1">About</button>
            </li>
            <li class="nav-item mx-auto mx-sm-2 mx-md-4 text-center">
              <button class="bttn draw-border my-1">Fundraising</button>
            </li>
            <li class="nav-item mx-auto mx-sm-2 mx-md-4 text-center">
              <button class="bttn draw-border my-1">Updates</button>
            </li>
          </ul>
    </nav>
      </div>
    </div>
  </div>
</header>