<header>
  <div>
    <div class="row header">
      <div class="col-sm-5">
        <div class="logo">
          <img class="img-fluid logo-img" src="assets/images/logo.png" alt="Tranent Skatepark Foundation logo">
        </div>
      </div>
      <div class="col-sm-7 header-landscape">
        <div class="sun">
          <div class="ray_box">
              <div class="ray ray1"></div>
              <div class="ray ray2"></div>
              <div class="ray ray3"></div>
              <div class="ray ray4"></div>
              <div class="ray ray5"></div>
              <div class="ray ray6"></div>
              <div class="ray ray7"></div>
              <div class="ray ray8"></div>
              <div class="ray ray9"></div>
              <div class="ray ray10"></div>
          </div>
      </div>
      <div class="base-hill">
      </div>
      <img class="img-fluid skatepark-hill-1" src="assets/images/skatepark-hill-1.svg" alt="Skate slope/hill section">
      <img class="img-fluid skatepark-hill-2" src="assets/images/skatepark-hill-2.svg" alt="Another skate slope/hill section">
      <img class="img-fluid bmx-stunt" src="assets/images/bmx-stunt.svg" alt="Silhouette of a boy doing a stunt on a BMX on pump track">
      <img class="img-fluid skateboarder-trick" src="assets/images/skateboarder-trick.svg" alt="Silhouette of a skateboarding trick on pump track">
      <img class="img-fluid scooter-trick" src="assets/images/scooter-trick.svg" alt="Silhouette of a scooter trick on pump track">
      <img class="img-fluid tree-1" src="assets/images/tree1.svg" alt="Silhouette of a tree">
      <img class="img-fluid tree-2" src="assets/images/tree2.svg" alt="Silhouette of a second tree">
      <div class="halfpipe">
        <img class="img-fluid" src="assets/images/halfpipe.svg" alt="Silhouette of a Skate Half-pipe">
        <img class="img-fluid girl-skater" src="assets/images/girl-skater.svg" alt="Silhouette of a girl on roller skates on halfpipe">
        <img class="img-fluid skateboarder-trick-3" src="assets/images/skateboarder-trick-3.svg" alt="Silhouette of a skateboarding trick on halfpipe">
        <img class="img-fluid scooter-trick-2" src="assets/images/scooter-trick-2.svg" alt="Silhouette of a scooter trick on halfpipe">
      </div>
      </div>
    </div>
    <div class="row nav-row">
      <div class="col menu-wrapper">
        <img class="img-fluid scooter-trick-2 d-sm-none" src="assets/images/scooter-trick-2.svg" alt="Silhouette of a scooter trick">
        <img class="img-fluid skateboarder-trick-2 d-sm-none" src="assets/images/skateboarder-trick-2.svg" alt="Silhouette of a skateboarder trick">
        <nav>
          <div class="d-flex flex-wrap justify-content-around menu-bar mx-auto">
              <button class="bttn draw-border my-1" routerLink="/about">About</button>
              <button class="bttn draw-border my-1" routerLink="/fundraising">Fundraising</button>
              <button class="bttn draw-border my-1" routerLink="/updates">Updates</button>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>