
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

header {
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 2;
} 
.header {
    position: relative;
    height: 300px;
    width: 100vw;
    background-image: linear-gradient(to bottom, #727272, #000000);
    margin-top: 20px;
    border-bottom: 2px solid #c4471a;
  }
  .page-header {
    position: absolute;
    top: 0;
    background-color: #ffffff;
  }
 #half-pipe-img-1 {
   width: 25%;
 }
 #half-pipe-img-2 {
  width: 22%;
}
#half-pipe-img-3 {
  width: 20%;
}
.half-pipe {
  position: relative;
  height: 200px;
  background-color: #ffffff;
  border-bottom-left-radius: 40% 120%;
  border-bottom-right-radius: 40% 120%;
}
  
  header h1, .menu-bar {
    font-family: 'Patrick Hand SC', cursive;
  }

  .menu-bar .nav-link {
    border: 2px #c4471a solid;
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
    color: #c4471a;
    transition: 0.3s;
  }

  .menu-bar .nav-link:hover {
    color: #ffffff;
    background-color: #c4471a;
  }

  section {
    margin-top: 420px;
   }

  @media screen 
  and (max-width: 575px) 
  { 
    header {
      top: 200px;
    } 
    .header {
      height: 350px;
    }
    .page-header {
      font-size: 22px;
      padding: 0 10%;
    }
    .half-pipe {
      height: 150px;
    }
    #half-pipe-img-1 {
      width: 50%;
    }
    #half-pipe-img-2 {
     width: 45%;
   }
   #half-pipe-img-3 {
     width: 50%;
   }
   .menu-bar .nav-link {
     margin-bottom: 5px;
   }
   section {
    margin-top: 600px;
   }
  }
