<h4>About Us</h4>
<p>Tranent Skatepark Foundation was created with the intention of becoming a non-profit organisation for the community, to raise awareness towards community fundraising and
    to seek grant/funding applications for the project.
</p>
<p>We aim to raise funds to secure a plot of land initially, to plan, design and then build a multi-purpose Skate/Bike Park within the town of Tranent.
</p>
<p>Updates will be posted regularly to the updates section, so feel free to bookmark us!
</p>
