<page-header></page-header>
<div class="container main-body">
  <div class="row" *ngIf="selected == 'about'">
    <div class="col">
      <about-page [content]="placeholder"></about-page>
    </div>
  </div>
  <div class="row" *ngIf="selected == 'fund'">
    <div class="col">
      <fund-page [content]="placeholder"></fund-page>
    </div>
  </div>
  <div class="row" *ngIf="selected == 'blog'">
    <div class="col">
      <blog-page [content]="placeholder"></blog-page>
    </div>
  </div>
</div>
<page-footer class="mt-auto"></page-footer>
