<div class="row">
    <div class="col footer mt-4 py-1">
        <div class="row">
            <div class="col-4 col-md-5 position-relative">
                    <div class="d-md-none logo text-center">
                        T.S.F.
                    </div>
                    <div class="d-none d-md-block logo">
                        Tranent Skatepark Foundation
                    </div>
            </div>
            <div class="col-8 col-md-7 navbar-section">
                <nav class="navbar navbar-expand-sm">
                    <ul class="nav navbar-nav mx-auto">
                      <li class="nav-item mx-md-3">
                        <button class="nav-link" routerLink="/contact">Contact</button>
                      </li>
                      <li class="nav-item mx-md-3">
                        <button class="nav-link" routerLink="/accessibility">Accessibility</button>
                      </li>
                      <li class="nav-item mx-md-3">
                        <button class="nav-link" routerLink="/links">Links</button>
                      </li>
                    </ul>
              </nav>
            </div>
        </div>
    </div>
</div>