<div class="row">
    <div class="col footer mt-4 py-1">
        <div class="row">
            <div class="col-4 col-md-5 position-relative">
                    <div class="d-md-none logo text-center">
                        T.S.F.
                    </div>
                    <div class="d-none d-md-block logo">
                        Tranent Skatepark Foundation
                    </div>
            </div>
            <div class="col-8 col-md-7 navbar-section">
                <nav class="navbar navbar-expand-sm">
                    <ul class="nav navbar-nav mx-auto">
                      <li class="nav-item mx-md-4">
                        <a class="nav-link py-0">Contact</a>
                      </li>
                      <li class="nav-item mx-md-4">
                        <a class="nav-link py-0">Accessibility</a>
                      </li>
                      <li class="nav-item mx-md-4">
                        <a class="nav-link py-0">Links</a>
                      </li>
                    </ul>
              </nav>
            </div>
        </div>
    </div>
</div>