@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.footer {
    background-color: #000000;
}

* {
    font: 500 1em 'Permanent Marker', cursive;
    color: #ffffff;
    text-shadow: 0.1em 0.1em rgba(255, 255, 255, 0.1);
}

.logo {
    font-size: 1.5em;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-55%);
}

.navbar-section {
    background-color: #000000;
    padding: 0.5em;
}

.navbar-section .navbar {
    padding: 0;
    font-size: 1.2em;
}
.nav-item {
    cursor: pointer;
    transition: color 0.4s 0.0833333333s;
    background: none;
    border: none;
    margin: 0.2em 0.6em;
    padding: 0.1em 0.4em;
    font-size: 1.4em;
}
.nav-item::before, .nav-item::after {
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
 }
 .nav-item:hover {
    color: #ffe593;
 }
 .nav-item:hover::before, .nav-item:hover::after {
    border-color: #ffe593;
    transition: border-color 0s, width 0.4s, height 0.4s;
    width: 100%;
    height: 100%;
 }
 .nav-item:hover::before {
    transition-delay: 0s, 0s, 0.4s;
 }
 .nav-item:hover::after {
    transition-delay: 0s, 0.4s, 0s;
 }
 .nav-item:focus {
     outline: none;
     box-shadow: 0 0 0 0.1em rgba(255,229,147, 0.8);
 }
 .social-media-icon {
    border-radius: 0.5em;
    font-size: 1.5em;
    background-color: #000000;
 }
 .instagram {
    font-size: 1.7em;
 }

@media screen
and (min-width: 992px)
and (max-width: 1199px)
{
    .footer {
        border-top: 4px solid #000000;
    }
    .logo {
        left: 5%;
    }
    .nav-item {
        margin: 0.1em 0.8em;
        font-size: 1.2em;
        padding: 0.2em 0.4em;
    }
    .social-media-icon {
        font-size: 1.4em;
        padding: 0.2em 0.4em;
     }
}

@media screen
and (min-width: 768px)
and (max-width: 991px)
{
    .footer {
        border-top: 3px solid #000000;
    }
    .logo {
        left: 5%;
        font-size: 1.2em;
    }
    .nav-item {
        margin: 0.1em 0.8em;
        font-size: 1em;
        padding: 0.2em 0.4em;
    }
    .social-media-icon {
        font-size: 1.3em;
        padding: 0.2em 0.4em;
     }
}

@media screen
and (min-width: 576px)
and (max-width: 767px)
{
    .footer {
        border-top: 3px solid #000000;
    }
    .nav-item {
        margin: 0.1em 0.6em;
        font-size: 1em;
    }
    .social-media-icon {
        font-size: 1.4em;
        padding: 0.1em 0.3em;
     }
}

@media screen
and (max-width: 575px)
{
    .nav-item {
        margin: 0.1em 0.8em;
        font-size: 1em;
    }
    .social-media-icon {
        font-size: 1.2em;
        padding: 0.1em 0.3em;
     }
}