p {
    font: 600 1.1em Helvetica, Arial, sans-serif;
    white-space: pre-wrap;
    margin: 2em 0;
}
h3 {
    font-family: 'Permanent Marker', cursive;
}
.load-more-updates {
    color: #000000;
    background: none;
    cursor: pointer;
    line-height: 1.5;
    font: 500 1.4rem 'Permanent Marker', cursive;
    padding: 0.4em 0.8em;
    letter-spacing: 0.05rem;
}
.draw-border {
    box-shadow: inset 0 0 0 2px #000000;
    color: #000000;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}
.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.draw-border::before {
    border-bottom-width: 3px;
    border-left-width: 3px;
}
.draw-border::after {
    border-top-width: 3px;
    border-right-width: 3px;
}
.draw-border:hover {
    color: #f58634;
}
.draw-border:hover::before, .draw-border:hover::after {
    border-color: #f58634;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}