<h5>Contact Us</h5>
<p>We'd love to hear from you, if you have any ideas, comments or suggestions. We're always looking for people who can help out too, in many different areas, 
    so if you have the spare time - please let us know!</p> 
<p>You'll find the links for our social media pages at the bottom of the page, or alternatively fill out the form below and we'll get back to you as soon as possible.</p>
<div class="row">
    <div class="col-md-10 my-md-3 mx-auto">
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" >
            <div class="form-group">
                <label for="name" class="font-weight-bold">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
              </div>
            <div class="form-group">
                <label for="email" class="font-weight-bold">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Please enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your name or email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="enquiry" class="font-weight-bold">Enquiry</label>
                <textarea  class="form-control" id="enquiry" placeholder="Enquiry details" rows="5"></textarea>
              </div>
              <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
