<h5>Accessibility Statement</h5>
<p>This website was built to be accessible for all users, something which we consider especially important as we are a community group.<br> 
    The website has been designed with easy access to information in mind,
 and to comply with the <a href="https://www.w3.org/" target="blank">World Wide Web Consortium's</a> standard and has the following features.
<h5>General</h5>
<p>The site is built using HTML and cascading style sheets (CSS). This creates a quick loading website that is accessible to screen readers and is usable in most browsers, 
including older browsers and browsers available on non-Windows systems.</p>
<h5>Text</h5>
<p>All text within the site is enclosed in the relevant HTML tags to faciliate screen readers. All information is available when switching to text-only mode.
<h5>Images/Design</h5>
<p>All images and icons have ALT tags. Where appropriate, ALT tags provide screen reader users and those with images switched off with a description of the content of the picture or icon.</p>
<h5>Text/sound alternative to video</h5>
<p>Unfortunately we do not have the resources at present to provide transcripts/subtitles and audio descriptions for video content. We hope to do so in the future.</p>
<h5>Feedback</h5>
<p>Should you have any concerns or queries around accessibility to this website, please do get in touch with us.</p>
<p>Details of the various ways to get in touch are included on 
    our <a routerLink="/contact">contact page</a>.</p>
